
<div class="ui horizontal divider">welcome, cio, jolla</div>

<div id="welcome-message" class="row">
  <h1 class="ui basic center aligned segment"> Welcome to our amazing store!
    <br>
    Choose <a href="/products">anything</a> you wish, we’ll ship it <a href="/products">anywhere!</a>
  </h1>
</div>


<div class="ui horizontal divider">get more with promotions</div>

<div id="promotions" class="row">
  <div class="ui three column page grid">
    <div class="column">
      <div class="ui segment">
        <%= image_tag('store/sightuary_newarrivals_.jpg', :alt => 'promo') %>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <%= image_tag('store/sightuary_free_shipping.png', :alt => 'promo') %>
      </div>
    </div>
    <div class="column">
      <div class="ui segment">
        <i class="massive archive icon"></i>
      </div>
    </div>
  </div>
</div>


      <div class="ui horizontal divider">featured products</div>


<% if @slider_products %>
    <div class="row">
        <div class="column">
            <h3 class="ui header basic segment"> Featured Products </h3>
                <div id="home-slider" class="" >
                    <div class="ui horizontal list">
                        <% @slider_products.each do |product| %>
                        <div class="item">
                            <div class="slider-product-image">
                                <%= link_to product_image(product), product %>
                            </div>
                            <div class="product-info">
                                <h4 class="ui header product-title"><%= product.name %> </h4>
                            </div>
                        </div>
                        <% end %>
                    </div>
                </div>
        </div>
  </div>
<% end %>


      <div class="ui horizontal divider">more products</div>

<div class="row" data-hook="homepage_products">
    <div class="column">
        <div class="ui page grid">


            <h3 class="ui header"> Just Products </h3>


        <%= render :partial => 'spree/shared/products', :locals => { :products => @products } %>
        </div>



    </div>
</div>
